<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="log" xsi:type="File"
			layout="${longdate}|${logger}|${message}"
			fileName="${basedir}/logs/log.txt"
			archiveFileName="${basedir}/logs/Archive/log.{#}.txt"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="40000000"
			maxArchiveFiles="100" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="log" />
	</rules>
</nlog>